.heroSection {
    position: relative;
    width: 1440px;
    height: 1024px;
    background: #FFFFFF;
    border: solid 1px red;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 140px;

    position: absolute;
    width: 1150px;
    height: 44px;
    left: calc(50% - 1150px/2 + 0.09px);
    top: 12px;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    gap: 8px;

    width: 155px;
    height: 40px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#logo_img1 {
    width: 24px;
    height: 24px;

    /* Primary/300 - base */

    background: #0065FE;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;

}

#logo_img2 {
    width: 0px;
    height: 24px;

    /* Primary/300 - base */

    background: #0065FE;
    /* Primary/300 - base */

    border: 2px solid #0065FE;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

#scissor {
    width: 99px;
    height: 24px;

    /* H2/Bold */

    font-family: 'Gilroy-Bold';
    font-size: 24px;
    line-height: 32px;
    /* or 133% */

    display: flex;
    align-items: center;

    /* Primary/300 - base */

    color: #0065FE;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

.nav {
    /* Frame 1000001643 */


    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    width: 504px;
    height: 24px;
    list-style-type: none;
    /*My addition*/
    border: solid 0px green;
    /*My addition*/


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;

}

#myurl {
    width: 90px;
    height: 22px;

    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 21px;

    /* Primary/300 - base */

    color: #0065FE;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#features {
    /*position: absolute;
width: 72px;
height: 22px;
left: 109px;
top: 1px;*/

    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 21px;

    /* Text Color/Main text */

    color: #141414;
}

#pricing {
    width: 56px;
    height: 22px;

    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 21px;

    /* Text Color/Main text */

    color: #141414;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

#analytics {
    width: 76px;
    height: 22px;

    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 21px;

    /* Text Color/Main text */

    color: #141414;


    /* Inside auto layout */

    flex: none;
    order: 3;
    flex-grow: 0;
}

#faq {
    width: 43px;
    height: 22px;

    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 21px;

    /* Text Color/Main text */

    color: #141414;


    /* Inside auto layout */

    flex: none;
    order: 4;
    flex-grow: 0;
}

.login {
    border: solid 0px violet;
    /*My addition*/
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 24px;

    width: 211px;
    height: 44px;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

.login>div {
    width: 45px;
    height: 20px;

    font-family: 'Gilroy-SemiBold';
    font-size: 16px;
    line-height: 19px;

    /* Primary/300 - base */

    color: #0065FE;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.login>button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    gap: 10px;

    width: 142px;
    height: 44px;


    /* Primary/300 - base */

    background: #0065FE;
    border-radius: 100px;
    border: 0px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;


}

#button_text {
    width: 79px;
    height: 12px;

    font-family: 'Gilroy-SemiBold';
    font-size: 16px;
    line-height: 12px;
    /* identical to box height, or 75% */


    /* Neutral/White */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;

}

.optimize_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 32px;

    position: absolute;
    width: 948px;
    height: 389px;
    left: calc(50% - 948px/2);
    top: 162px;
    border: solid 1px green;
    /*My addition*/
}

.optimize {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 8px;

    width: 948px;
    height: 313px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.group1 {
    width: 948px;
    height: 200px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.group1>div {
    border: solid 1px red;
    /*My addition*/
    position: absolute;
    width: 948px;
    height: 200px;
    left: calc(50% - 948px/2);
    top: 0px;

    font-family: 'Gilroy-Bold';
    font-size: 48px;
    line-height: 96px;
    /* or 200% */

    text-align: center;

    /* Text Color/Main text */

    color: #141414;
}

.group1>img {

    position: absolute;
    width: 173.63px;
    height: 19.91px;
    left: 397px;
    top: 167.91px;

    /* Primary/400 */

    background: #005AE2;
    margin-top: 10px;
    /*My addition*/
}



.personalize {
    width: 781px;
    height: 105px;

    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 28px;
    /* or 156% */

    text-align: center;

    /* Text Color/Main text */

    color: #141414;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    border: solid 1px purple;
    /*my addition*/
    margin: -15px 83.5px 0px 83.5px;
    /*329.5 - 246 on both left and right, my addition*/
    padding: 0px;
    /*my addition*/
}

.personalize>p {
    margin-left: 40px;
    /*my addition*/
    margin-right: 40px;
    /*my addition*/
}

.signup {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 56px;

    width: 282px;
    height: 44px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin-top: 40px;
    /*myaddition*/
}

.signup>button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    gap: 10px;

    width: 142px;
    height: 44px;

    /* Primary/300 - base */

    background: #0065FE;
    border-radius: 100px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: 375px;
    /*621-246px my addition */

}

.signup>button>span {
    width: 57px;
    height: 12px;

    font-family: 'Gilroy-SemiBold';
    font-size: 16px;
    line-height: 12px;
    /* identical to box height, or 75% */


    /* Neutral/White */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.signup>p {
    width: 84px;
    height: 20px;

    font-family: 'Gilroy-SemiBold';
    font-size: 16px;
    line-height: 19px;

    /* Primary/300 - base */

    color: #0065FE;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.group2 {
    position: absolute;
    width: 833px;
    height: 336.57px;
    left: calc(50% - 833px/2 + 65.5px);
    top: 607px;
    border: solid 0px blue;
    /*my addition*/
    /*my addition*/
    /*my addition*/
}

.group2-frame {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 60px;
    gap: 16px;

    position: absolute;
    width: 768px;
    height: 224px;
    left: calc(50% - 768px/2 + 98px);
    top: 631px;

    background: rgba(254, 254, 254, 0.1);
    /* Primary/400 */

    border: 0.5px solid #005AE2;
    backdrop-filter: blur(106px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 24px;
}

.group2-frame-frame {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 20px;

    width: 384px;
    height: 80px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    border: solid 1px red;
    /*my addition*/

}

.group2-frame-frame-frame7 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 224px;
    height: 80px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    border: solid 1px black;
    /*my addition*/
}

.link2 {
    width: 80px;
    height: 80px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px -8px;
}

.link2_img1 {
    position: absolute;
    left: 33.33%;
    right: 33.33%;
    top: 50%;
    bottom: 50%;

    /* Text Color/Main text */

    border: 2px solid #141414;
}

.link2_img2 {
    position: absolute;
    left: 4.17%;
    right: 4.17%;
    top: 29.17%;
    bottom: 29.17%;

    /* Text Color/Main text */

    border: 2px solid #141414;
}

#link7 {
    width: 40px;
    height: 0px;

    /* Primary/400 */

    border: 2px solid #005AE2;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.seamless_transform {
    width: 648px;
    height: 48px;

    font-family: 'Gilroy-Medium';
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    text-align: center;

    /* Text Color/Main text */

    color: #141414;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}


.group2-vector2 {
    position: absolute;
    width: 238.55px;
    height: 251.2px;
    left: 369px;
    top: 725.63px;

    background: #E2E9F0;
    transform: rotate(-29.82deg);
    margin-left: 135.33px;
    /*my addition not working*/

}

.group3 {
    position: absolute;
    width: 1440px;
    height: 93px;
    left: 0px;
    top: 931px;
    border: solid 1px black;
    /*my addition*/
}

.eclipse {
    position: absolute;
    width: 956px;
    height: 49px;
    left: 256px;
    top: 951px;

    background: linear-gradient(180deg, rgba(226, 233, 240, 0.7) 10.68%,
            rgba(220, 228, 235, 0.7) 44.01%, rgba(226, 233, 240, 0) 100%);
    filter: drop-shadow(0px 4px 4px rgba(18, 36, 89, 0.35));
    border: solid 100px green;
    /*my addition*/

}

.rectangle {
    position: absolute;
    width: 1440px;
    height: 93px;
    left: 0px;
    top: 931px;

    background: #F8F7F7;
    border: solid 10px red;
    /*my addition*/
}

.desktop-10 {
    position: relative;
    width: 1440px;
    height: 982px;

    background: #FFFFFF;
}

.desktop-10-frame {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 60px 140px;
    gap: 120px;

    position: absolute;
    width: 1446px;
    height: 220px;
    left: calc(50% - 1446px/2);
    top: 0px;

    background: #F9FBFD;
}

.desktop-10-OneStop {
    width: 337px;
    height: 96px;

    font-family: 'Gilroy-Bold';
    font-size: 40px;
    line-height: 48px;
    /* or 120% */


    /* Text Color/Main text */

    color: #141414;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;

}
